
#pesquisa{
  border-radius:25px;
  height: 5%;
}

/*Fixando o menu do Cliente*/
.Fixar{
  position:fixed;
  width: 100%;
}
#Carretilha {
  align-items: center;
}
.Slaides img{
  height: 80%;
  width: 97%;
  margin-left: 1.5%
}
Header .Fixar{
  position: fixed;
  width: 100%;
}


body{
  background-color: #404094;
}
.dot {
  height: 15px;
  width: 15px;
  margin-left:0.5%;
    margin-right:0.5%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: red;
  font-size: 15px;
  font-weight:bold;
  }

/*banner Principal*/
#Principal{
  margin-top: 0%;
  align-items: center;
}
.Slaides h1{
  padding-left: 39%;
  font-size: 120;
  font-family: 'Topzin';
}
#Principal h2{
  font-size: 50;
  font-family: 'Topzera';
  margin-top: 0%;
}

#Principal {
  padding-left: 1%;
  padding-right: 0%;
}
#Principal{
  text-align: center;
  border: none;
  font-size: 17;
  width: 100%;
  height: 50%;
  margin-bottom:42.5%;
}
#Principa div{
  margin-top: 5%;
}
#Principa div ul li{
  font-family: "Topzinha";
  width: 100%;
  height: 17%;
  display: inline-block;
}
/*Para o texto persuasivo*/
#info{

}
/*Galeria de imagens*/
#Images  ol{
  padding-right: 2%;
  padding-left: 2%;
}
#Images  ol li{
  padding: 1%;
  width: 33%;
  height: 40%;
  display: inline-block;
}

/*Detales do Pacote*/
.Informacao{
  background-color: #E9E9E9;
}

.Informacao h2{
  font-size: 40;
  padding-left: 37%;
  margin-top: 4%;
  padding-top: 2%;
}
.Informacao li{
  font-size: 27;
  margin-bottom: 1%;
  margin-left: 8%;
}

#BtnConversao{
  margin-left: 40%;
  height:10%;
  width:20%;
  font-size:30;
  margin-top: 5%;
  margin-bottom: 3%;
}

/*Rodapé*/
.container {
  margin: 0 auto;
  width: 80%;
  position: center;
}
footer{
  width: 100%;
  padding-top: 3%;
  height: 15%;
  clear: both;
  background-color: black;
}
.container a {
  /* tamanho da imagem */
  height: 32px;
  width: 32px;
  /* image replacement */
  display: block;
  float: right;
  margin-left: 3%;
}
#AtalhoPesquisa{
  border-radius: 20px;
  background-color: white;
  width:60%;
  height:65%;
  margin-left:20%;
  position: relative;
}
@media (max-width: 720px) {
  .not_img{
    width:100%;
    height:90%;
  }
  .Fixar{
    position: absolute;
    width: 100%;
  }
  #Principal{
    margin-top: 0%;
    align-items: center;
  }
  #Principal h1{
    margin-top: 100%;
    margin-left: 17%;
    font-size: 80;
    font-family: "Topzera";
  }
  #Principal h2{
    font-size: 35;
    font-family: "Topzera";
    margin-top: 0%;
  }
  #Principal h3{
    color: orange;
  }

  #Principal ol{
    padding-left: 5%;
    padding-right: 5%;
  }
  #Principal ol li{
    text-align: center;
    border: none;
    font-size: 14;
    display: block;
    width: 100%;
    height: 70%;
    margin-left: 0%;
  }
  #Principal ol li div ul li{
    width: 100%;
    height: 11%;
    text-align: justify;
  }

  /*Galeria de imagens*/
  #Images  ol{
    padding-right: 5%;
    padding-left: 5%;
  }
  #Images  ol li{
    padding: 1%;
    margin-bottom: 5%;
    width: 100%;
    height: 40%;
    display: block;
  }
  #Images  ol li img{
    width: 100%;
    height: 100%;
  }

  #BtnConversao{
    margin-left: 10%;
    margin-right: 10%;
    height:13%;
    width:80%;
    font-size:30;
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .Informacao h2{
    font-size: 40;
    padding-left: 11%;
    margin-top: 4%;
    padding-top: 2%;
  }
  .Informacao li{
    font-size: 27;
    margin-bottom: 1%;
    margin-left: 8%;
  }
  #info{
    margin-bottom: 25%;
  }
  #info h3{
    margin-bottom: 0%;
    margin-top: 5%;
  }

}
